xxx.xxx.xxx.xxx

[all:vars]
# this depends on the cloud and OS, sometimes ubuntu/centos, sometimes your account user
ansible_user=<USER>
# Uncomment and replace with a hard-to-guess value
#jupyter_token=<token>
