[Unit]
Description=Jupyter Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/{{ ansible_user }}/notebook-dir
ExecStart=/bin/bash /home/{{ansible_user}}/.local/bin/jupyter-start.sh
Restart=always

[Install]
WantedBy=default.target