[Unit]
Description=Jupyter Service
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/notebook-dir
ExecStart=/home/{{ansible_user}}/.local/bin/jupyter notebook --notebook-dir ~/notebook-dir
Restart=always